<% containers.forEach(function(container){ %>
    id: <%= container.id %>
    name: <%= container.name %>
    image: <%= container.data.dockerContainer.Image %>
    host IP: <%= container.data.fields.dockerHostIp %>

<% }); %>
